.skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slider{
    height: 80px;
    width: 90%;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide_track{
    width: calc(80px * 18);
    display: flex;
    animation: scroll 20s linear infinite ;
}
.slide_track2{
    width: calc(80px * 18);
    display: flex;
    animation: scroll 10s linear infinite ;
}
.slide_track3{
    width: calc(80px * 18);
    display: flex;
    animation: scroll 40s linear infinite ;
}
.slide_track4{
    width: calc(80px * 18);
    display: flex;
    animation: scroll 13s linear infinite ;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-80px * 5));
    }
}
.slides{
    height: 80px;
    width: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.slides img{
    width: 100%;
}
