@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(251, 251, 255);
  /* background-color: rgb(17, 17, 51); */
}
